:root {
  --white: #ffffff;
  --gold: #bead8e;
  --darkGold: #988257;
  --title: "Alegreya", serif;
  --subTitle: "Lato", sans-serif;
  --p: "Cormorant Garamond", serif;
  height: 100vh;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#tsparticles {
  width: 0;
  height: 0;
}
