:root {
  --white: #ffffff;
  --gold: #bead8e;
  --darkGold: #988257;
  --title: "Alegreya", serif;
  --subTitle: "Lato", sans-serif;
  --p: "Cormorant Garamond", serif;
  height: 100vh;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#tsparticles {
  width: 0;
  height: 0;
}
/* body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: rgba(10, 11, 13, 0.65);
}

body::-webkit-scrollbar-thumb {
  background: rgba(152, 130, 87, 0.85);
} */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.65);
}

*::-webkit-scrollbar-thumb {
  background-color: #988257;
  border-radius: 6px;
  border: 3px solid rgba(10, 11, 13, 0.65);
}
